{% extends "master.html" %}
{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Quick Example</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form onsubmit="upload_file(this, event)" enctype="multipart/form-data">
      <div class="box-body">
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="archivo" name="archivo">

          <p class="help-block">Example block-level help text here.</p>
        </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block js_files %}
  <script>
      //console.log('Hello world')

    function upload_file(form, event){
      event.preventDefault();
      var formData = new FormData(form);

      $.ajax({
        url: '{{url_for("pandas")}}',
        type: 'post',
        data: formData,
        success: function(data){
          alert(data);
        },
        cache: false,
        contentType: false,
        processData: false
      })

    }

  </script>
{% endblock %}