{% extends "master.html" %}
{% block title %}
  Flask calendar
{% endblock %}
{% block content %}
 <!--put something here-->

<input type="text"
	   id="calendario"
       class="datepicker-here"
       data-language='es'
       data-multiple-dates="100"
       data-multiple-dates-separator=",",
       weekends='false',
	   data-position="right top"
	   /><br>
	   <input type="submit" class="btn btn-success" onclick="obtenerdatos()" value="Ver datos"/>

{% endblock %}

{% block js_files %}
  <!--put something here-->
<script>
  var disabledDays = [0, 6];

$('#calendario').datepicker({
    onRenderCell: function (date, cellType) {
        if (cellType == 'day') {
            var day = date.getDay(),
                isDisabled = disabledDays.indexOf(day) != -1;
            return {
                disabled: isDisabled
            }
        }
    }
})
function obtenerdatos(){
  var date = $("#calendario").val();
  var formData = new FormData();
  formData.append('date', date);
  $.ajax({
        url: '{{url_for("pandas")}}',
        type: 'post',
        data: formData,
        success: function(data){
          console.log(data)
        },
        cache: false,
        contentType: false,
        processData: false 
      })
}	
</script>
{% endblock %}