{% extends "master.html" %}
{% block title %}
  Flask calendar
{% endblock %}
{% block content %}
 <div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Crear calendario de examenes</h3>
  </div>
    <div class="box-body">

    <table class="table table-condensed">
      <thead>
        <th>#</th>
        <th>Horario</th>
        <th>Descargar</th>
      </thead>
      <tbody>
        
        {% for row in records %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td><a href="{{ url_for('return_file') }}?file={{row[1]}}" file="{{row[1]}}" download class="btn btn-info">Descargar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
 </div>

{% endblock %}

{% block js_files %}
{% endblock %}